<div class="container">
  <div class="page-header">
    <div class="pull-right">
      <a href="<%= to("/lists/#{@details.list_id}") %>" class="btn btn-default">Regresar a lista <em><%= @details.list_name %></em></a>
      <a href="<%= to("/lists/#{@details.list_id}/access/new") %>" class="btn btn-primary">Agregar persona</a>
    </div>
    <h1>Control de accesso</h1>
  </div>

  <p class="text-info">
  <strong>Agrega a las personas que quieras dar accesso a tu lista "<%= @details.list_name %>"</strong> e invítalas a registrarse Simple Guest List,
  con el mismo email para que puedan acceder en su sección de <em>Listas compartidas</em>.
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Roll</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @details.people_with_access.each do |person| %>
        <tr>
          <td><%= person.name %></td>
          <td><%= person.email %></td>
          <td><%= person.wedding_roll %></td>
          <td class="text-right">
            <a href="<%= to("/lists/#{@details.list_id}/access/#{person.id}/edit") %>" class="btn btn-link">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
