<div class="container" style="max-width: 500px">
  <div class="page-header">
    <h1>Agregar persona a lista de accesso</h1>
  </div>

  <p class="text-info">
  Al enviar esta forma le darás accesso a esta persona a tu lista:
  <br/><strong>"<%= @details.list_name %>"</strong>.
  </p>

  <form action="<%= to("/lists/#{@details.list_id}/access") %>" method="POST" style="margin-bottom: 20px">
    <%= form_group @form, :first_name, "Nombre" %>
    <%= form_group @form, :last_name, "Apellidos" %>
    <%= form_group @form, :email, "Email", input_type: "email" %>
    <%= select_form_group @form, :wedding_roll, "Roll en la boda", @form.wedding_roll_options %>
    <button type="submit" class="btn btn-primary">Dar accesso</button>
    <a href="<%= to("/lists/#{@details.list_id}/access") %>" class="btn btn-default">
      Regresar a control de accesso
    </a>
  </form>
</div>
